.mentor-badge {
    position: absolute;
    top: 6%;
    left: 4%;
    width: 120px;
    height: 120px;
    background-color: #7b4fdf; /* Purple color for the badge */
    clip-path: polygon(0 0, 0 100%, 100% 0);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-20%, -20%);
    z-index: 1;
    border-radius: 20% 0 0 0;;
}

.mentor-badge span {
    position:absolute;
    top:37%;
    left:4%;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    transform: rotate(-45deg);
    text-align: center;
    white-space: nowrap;
    line-height: 1.2;
    max-width: 90px; /* Ensure the text fits within the badge */
}
