<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>

    <!--Custom Bootstrap Inspired Stylesheet-->
    <link href="css/mainmin.css" rel="stylesheet">

    <!--Icons-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"
        rel="stylesheet">

    <!--Navbar and Footer Stylesheet-->
    <link href="css/navbar_footer_style.css" rel="stylesheet">

    <!--Badge for mentor CSS-->
    <link rel="stylesheet" href="css/badge_mentor.css">
    <link rel="stylesheet" href="css/courses.css">

    <!--Animation CSS-->
    <link rel="stylesheet" href="css/animation.css">

    <style>
        body {
            overflow-y: hidden;
        }
    </style>
</head>

<body>
    <!-- Navbar Placeholder -->
    <div id="navbar" class="fade-in-top"></div>
    <div id="app">
        <div class="row container-fluid px-0 mx-0 h-100">
            <section id="chats" class="col-md-4 bg-white">
                <div class="row container-fluid mt-2 fade-in-top">
                    <div class="col-2 pe-2">
                        <button class="btn btn-secondary btn-sm my-2" id="hamburgerBtn">
                            <i class="bi bi-list h4"></i>
                        </button>
                    </div>
                    <div class="col-10 py-2 my-2 rounded-pill border border-black">
                        Search
                    </div>
                </div>
                <nav class="navbar navbar-expand">
                    <div class="container-fluid">
                        <div class id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item me-2">
                                    <a class="nav-link active" aria-current="page" href="#">All Chats</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Mentors</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!--Start of template for chat-->
                <div style="height:65vh; overflow-y: auto;">
                    <div v-for="(chat,index) in chat_arr"
                        class="row container-fluid d-flex align-items-center mb-3 py-2 fade-in-left"
                        @click="goToChat(index)" style="cursor: pointer;">
                        <div class="col-2">
                            <div class="overflow-hidden rounded-circle border border-black"
                                style="width: 40px; height: 40px;">
                                <img :src="chat.chat_img" alt="pic">
                            </div>
                        </div>
                        <div class="col-10 overflow-hidden">
                            <div class="fw-bold">{{chat.chat_name}}</div>
                            <div class="text-nowrap">
                                <span v-if="chat.chat_type == 'group'"
                                    class="d-inline-block me-1">{{getUserName(getLastConvo(chat))}}: </span>
                                <span class="text-muted text-nowrap d-inline">{{getLastConvo(chat).message}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of template for chat-->
            </section>
            <section id="conversation" class="col-md-8 bg-secondary px-0 fade-in-right" style="height: 90vh;">
                <div v-if="selected_chat_obj">
                    <div class="row p-2 bg-primary container-fluid mx-0 mb-4">
                        <div class="col-1 me-2 d-flex align-items-center">
                            <div class="overflow-hidden rounded-circle border border-black"
                                style="width: 40px; height: 40px;">
                                <img :src="selected_chat_obj.chat_img" alt="1">
                            </div>
                        </div>
                        <div class="col-auto d-flex align-items-center text-white">
                            <div>
                                <div class="row fw-bold">{{selected_chat_obj.chat_name}}</div>
                                <div v-if="selected_chat_obj.chat_type == 'group'" class="row">
                                    {{getNumMembers(selected_chat_obj)}} members
                                </div>
                            </div>
                        </div>

                    </div>
                    <div style="height: 60vh; overflow-y: auto;">
                        <div v-for="(conversation,index) in selected_chat_obj.conversations" :key="index">
                            <div v-if="isNewDay(conversation, selected_chat_obj.conversations[index - 1])"
                                class="container-fluid d-flex justify-content-center p-0">
                                <span class="badge bg-white text-secondary text-center">
                                    {{ new Date(conversation.timestamp).toLocaleDateString() }}
                                </span>
                            </div>
                            <div v-if="conversation.user == user"
                                class="container-fluid w-100 d-flex justify-content-end">
                                <span
                                    class="bg-white rounded text-end px-3 py-2 d-inline-block">{{conversation.message}}
                                    <div class="mt-2 text-end">{{getTime(conversation)}}</div>
                                </span>
                            </div>
                            <div v-else
                                class="container-fluid w-100 d-flex justify-content-start align-items-center my-4">
                                <span class="overflow-hidden rounded-circle d-inline-block border border-black me-3"
                                    style="width: 40px; height: 40px;">
                                    <img :src="getProfilePic(conversation)" alt="pic">
                                </span>
                                <span
                                    class="bg-white rounded px-3 py-2 d-inline-block"><b>{{getUserName(conversation)}}</b><br>{{conversation.message}}
                                    <div class="mt-2 text-end">{{getTime(conversation)}}</div>
                                </span>

                            </div>
                        </div>
                    </div>
                    <div class="row container-fluid p-0 m-0 mt-2 d-flex justify-content-center align-items-center">
                        <div class="rounded-pill col-8 py-2 bg-white d-flex align-items-center">
                            <div class="row container-fluid d-flex align-items-center">
                                <div class="col-1">
                                    <i class="bi bi-emoji-smile me-2 fs-3"></i>
                                </div>
                                <div class="col-10">
                                    <!--Start of message template-->
                                    <input v-model="message" type="text" placeholder="Message"
                                        class="form-control border border-0 container-fluid">
                                    <!--End of message template-->
                                </div>

                                <div class="col-1">
                                    <i class="bi bi-paperclip fs-3"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 rounded-circle bg-primary ms-2 d-flex justify-content-center align-items-center"
                            style="width: 45px;height: 45px;">
                            <transition name="icon-transition">
                                <i v-if="message.trim().length !== 0" class="text-white bi bi-send fs-5"
                                    @click="sendMessage(message)"></i>
                            </transition>

                        </div>
                    </div>
                </div>


            </section>
        </div>
    </div>
    </div>

    <!--Axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!--Vue-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!--JS for loading navbar and footer-->
    <script src="js/navbar_fw.js"></script>
    <script src="js/footer.js"></script>

    <!--Animation JS-->
    <script src="js/animation.js"></script>

    <script>
        chats = null;
        conversations = null;
        user = "user_001"

        const app = Vue.createApp({
            data() {
                return {
                    chat_arr: [],
                    users_arr: null,
                    selected_chat_obj: null,
                    user: user,
                    message: ""
                };
            },
            methods: {
                fetchUsers() {
                    axios.get("json/chat.json")
                        .then(response => {
                            this.chat_arr = response.data.chats;
                            this.users_arr = response.data.all_users;
                            this.selected_chat_obj = this.chat_arr[1]; //delete this
                        })
                        .catch(error => {
                            console.error('There was an error fetching the data:', error);
                        });
                },
                getLastConvo(chat) {
                    return chat.conversations[chat.conversations.length - 1]
                },
                getUserName(conversation) {
                    return this.users_arr[conversation.user].name;
                },
                goToChat(index) {
                    this.selected_chat_obj = this.chat_arr[index];
                },
                getNumMembers(chat) {
                    return chat.group_members.length;
                },
                getProfilePic(conversation) {
                    return this.users_arr[conversation.user].profile_picture
                },
                getTime(conversation) {
                    const date = new Date(conversation.timestamp);
                    const localTime = date.toLocaleString([], {
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: false // Set to true for 12-hour format if preferred
                    });
                    return localTime;
                },
                isNewDay(current, previous) {
                    if (!previous) return true;
                    const currentDate = new Date(current.timestamp);
                    const previousDate = new Date(previous.timestamp);
                    return currentDate.toDateString() !== previousDate.toDateString();
                },
                addAnimationClass() {
                    return {
                        'pop-on-appear': this.message.trim().length !== 0,
                        'shrink-on-exit': this.message.trim().length === 0,
                    };
                },
                sendMessage() {
                    const timestamp = new Date().toISOString();
                    const last_index = this.selected_chat_obj.conversations.length
                    const message_id = `msg_${String(last_index).padStart(3, '0')}`

                    // Create a new message object
                    const new_message = {
                        message_id: message_id,
                        chat_id: this.selected_chat_obj.chat_id,
                        timestamp: timestamp,
                        user: this.user,
                        message: this.message.trim(),
                    };
                    // Send message to PHP file
                    axios.post('update_chat.php', new_message)
                        .then((response => {
                            this.selected_chat_obj.conversations.push(new_message);
                            this.message = '';
                        }))
                        .catch((error=>{
                            console.error("Error sending message: ", error);
                        }));
                }



            },
            computed: {

            },
            created() {
                this.fetchUsers();
            }
        });

        const vm = app.mount('#app');
    </script>
</body>

</html>