html, body {
  overflow-x: hidden;
}

/* Scrolling Container */
.scroll-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  /* Adjust spacing between cards as needed */
}

.scroll-container::-webkit-scrollbar {
  height: 8px;
  /* Scrollbar height for horizontal scroll */
}

.scroll-container::-webkit-scrollbar-track {
  background: #eee;
  /* Scrollbar track color */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #525FE1;
  /* Scrollbar thumb color */
  border-radius: 10px;
  /* Rounded scrollbar edges */
  border: 2px solid #525FE1;
  /* Adds padding to thumb */
}


/* .title {
  font-family: 'Poppins';
  color: #525FE1;
  font-weight: bold;
  margin-top: 20px;
} */


.createEventStyle {
  border: 2px solid #525FE1;
  padding: 10px;
  border-radius: 10px;
}

.category {
  border: 2px solid #525FE1;
}

.create-enter-active {
  animation: slide-in 0.3s ease-out;
}

.create-leave-active {
  animation: slide-in 0.3s reverse;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-100px) scale(0.9);
  }

  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}



.groupContainer {
  display: flex;
  align-items: center;
  /* vertically centers items */
  justify-content: space-between;
  /* spaces items out */
}


@media (max-width: 768px) {
  .joinButton {
    height: 50px;
    width: 90%;
    /* Reduced width for medium screens */
  }

  .joinButton i,
  .joinButton .button-text {
    font-size: 16px;
    /* Reduce font size for medium screens */
  }
}

@media (max-width: 576px) {
  .joinButton {
    height: 45px;
    width: 85%;
    /* Even smaller width for small screens */
    padding: 8px;
  }

  .joinButton i,
  .joinButton .button-text {
    font-size: 14px;
    /* Further reduce font size for small screens */
  }
}

#submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

#forumCategories {
  background-color: #FFCF59;
}

.category,
.discussion {
  background: linear-gradient(to right, #CE2029 10%, white 10%);
  border-radius: 10px;
  border: none;
  width: 100%;
  margin: 10px;
  height: 80px;
}

.discussion {
  text-align: left;
  padding-left: 12%;
}

#generalCAT{
  background: linear-gradient(to right, #0061b5 10%, white 10%);
}

#learningCAT{
  background: linear-gradient(to right, #853a76 10%, white 10%);
}

#eventCAT{
  background: linear-gradient(to right, #009792 10%, white 10%);

}

