/*Stats section decor*/
.section-decor {
    position: relative;
  }
  
  .section-decor::before,
  .section-decor::after {
    content: "";
    position: absolute;
    background-color: #FFCF59;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  
  .section-decor::before {
    top: -50px;
    left: -50px;
  }
  
  .section-decor::after {
    bottom: -50px;
    right: -50px;
  }
